<h1>Listing customers</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.Company %></td>
    <td><%= customer.LastName %></td>
    <td><%= customer.FirstName %></td>
    <td><%= customer.Phone %></td>
    <td><%= customer.Address %></td>
    <td><%= customer.City %></td>
    <td><%= customer.Country %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <a
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
</br>
<a href="http://0.0.0.0:3000/index.html">Home</a>
