<%= simple_form_for @supplyorder, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @supplyorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplyorder.errors.count, "error") %> prohibited this supplyorder from being saved:</h2>

      <ul>
      <% @supplyorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "SupplierRef", :class => "add-on" %>
    <%= f.collection_select(:SupplierRef, Supplier.all, :id, :LastName)%>
  <% end %>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "CreatedByRef", :class => "add-on" %>
    <%= f.collection_select(:CreatedByRef, Employee.all, :id, :LastName)%>
  <% end %>
  </div>
  <div class="field">
   <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "SubmittedDate", :class => "add-on" %>
    <%= f.date_select :SubmittedDate %>
    <%end%>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "ExpectedDate", :class => "add-on" %>
    <%= f.date_select :ExpectedDate %>
    <%end%>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "ShippingFee", :class => "add-on" %>
    <%= f.number_field :ShippingFee %>
    <%end%>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "PaymentDate", :class => "add-on" %>
    <%= f.date_select :PaymentDate %>
    <%end%>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "PaymentAmmount", :class => "add-on" %>
    <%= f.number_field :PaymentAmmount %>
    <%end%>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "PaymentMethod", :class => "add-on" %>
    <%= f.text_field :PaymentMethod %>
  <% end %>
  </div>
  <div class="field">
   <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "StatusRef", :class => "add-on" %>
    <%= f.collection_select(:StatusRef, Supplyordersstatus.all, :id, :Status)%>
    <%end%>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
