<h1>Listing supplyorders</h1>

<table>
  <tr>
    

    <th>Supplier Name</th>

    <th>Created By</th>
    <th>Submitteddate</th>
    <th>Expecteddate</th>
    <th>Shippingfee</th>
    <th>Paymentdate</th>
    <th>Paymentammount</th>
    <th>Paymentmethod</th>
    <th>Statusref</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @supplyorders.each do |supplyorder| %>
  <tr>
    

    <td><% @suppliers.each do |supplier| %>
      <% if supplyorder.SupplierRef == supplier.id  %>
        <%= supplier.LastName %>
        <%= supplier.FirstName %>

      <% end %>
    <% end %></td> 

    <td><% @employees.each do |employee| %>
      <% if supplyorder.CreatedByRef == employee.id  %>
        <%= employee.LastName %>
        <%= employee.FirstName %>

      <% end %>
    <% end %></td> 

    <td><%= supplyorder.SubmittedDate %></td>
    <td><%= supplyorder.ExpectedDate %></td>
    <td><%= supplyorder.ShippingFee %></td>
    <td><%= supplyorder.PaymentDate %></td>
    <td><%= supplyorder.PaymentAmmount %></td>
    <td><%= supplyorder.PaymentMethod %></td>

    <td><% @supplyordersstatus.each do |s| %>
      <% if supplyorder.StatusRef == s.id  %>
        <%= s.Status %>

      <% end %>
    <% end %></td> 
    <td><%= link_to 'Show', supplyorder %></td>
    <td><%= link_to 'Edit', edit_supplyorder_path(supplyorder) %></td>
    <td><%= link_to 'Destroy', supplyorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supplyorder', new_supplyorder_path %>
</br>
<%= link_to 'Home', welcome_index_path %>