<%= simple_form_for @shipper, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @shipper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipper.errors.count, "error") %> prohibited this shipper from being saved:</h2>

      <ul>
      <% @shipper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Company", :class => "add-on" %>
    <%= f.text_field :Company %>
  <% end %>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Last Name", :class => "add-on" %>
    <%= f.text_field :LastName %>
  <% end %>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "First Name", :class => "add-on" %>
    <%= f.text_field :FirstName %>
  <% end %>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Phone", :class => "add-on" %>
    <%= f.text_field :Phone %>
  <% end %>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Address", :class => "add-on" %>
    <%= f.text_field :Address %>
  <% end %>
  </div>
  <div class="field">
    <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "City", :class => "add-on" %>
    <%= f.text_field :City %>
  <% end %>
  </div>
  <div class="field">
   <%= f.input :name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Country", :class => "add-on" %>
    <%= f.text_field :Country %>
  <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
